DINGTALK_CLIENT_ID=
DINGTALK_CLIENT_SECRET=
DIFY_OPEN_API_URL=http://api:5001/v1
DIFY_APP_API_KEY=
DIFY_CONVERSATION_TTL_MINUTES=15
DIFY_REQUEST_TIMEOUT=120
QUERY_GATEWAY_URL=http://query-gateway:8787
QUERY_API_TOKEN=

